{% extends "layout.html" %}

{% block body %}
<div class="row" style="margin-top:5px">
  <div class="col-md-6" style="padding-top:10px">
    <img src="http://www.fc.ul.pt/sites/default/files/fcul/institucional/normas_graficas/Ciencias_UL_Azul_H.png" style="width:270px;height:70px;" alt="logo.png"></img>
  </div>
  <ul class="nav nav-tabs" style="padding-top:50px;margin-bottom:10px;font-size: 15px;">
    <li role="presentation"><a href="{{ url_for('front_page') }}">Home</a></li>
    <li role="presentation"><a href="{{ url_for('help') }}">Help</a></li>
    <li role="presentation" class="active"><a href="{{ url_for('contacts') }}">Contacts</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
	<div style="color: #333;border:1px solid #ccc;border-radius: 4px;background-color: #f5f5f5;padding-top:5%;margin-top:10px;width:100%;height:30%;padding-left: 10%;display: flex; align-items: center;">
	  <div class="col-md-6">
	    <p>António E. N. Ferreira</p>
	    <p>Assistant Professor @ FCUL</p>
	    <p>Researcher @ the CQB</p>
	    <p>+351 217500000, FCUL ext. 28446</p>
	    <p><a href="mailto:aenf@fc.ul.pt">aeferreira@fc.ul.pt</a></p>
	  </div>
	  <div class="col-md-6">
	    <img src="https://avatars0.githubusercontent.com/u/6614728?s=400&v=4" style="width:100%;" alt="afpic"></img>
	  </div>
	</div>
      </div>
    </div>
    <div class="row">	
      <div class="col-md-12">
	<div style="color: #333;border:1px solid #ccc;border-radius: 4px;background-color: #f5f5f5;padding-top:5%;margin-top:10px;width:100%;height:30%;padding-left: 10%; display: flex; align-items: center;">
	  <div class="col-md-6">
	    <p>Pedro B. P. S. Reis</p>
	    <p>Biochemistry PhD Student @ FCUL</p>
	    <p>+351 217500000, FCUL ext. 28552</p>
	    <p><a href="mailto:pdreis@fc.ul.pt" alt="email">pdreis@fc.ul.pt</a></p>
	  </div>
	  <div class="col-md-6">
	    <img src="http://mms.rd.ciencias.ulisboa.pt/content/preis.jpg" style="width:100%;" alt="afpic"></img>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div style="color: #333;border:1px solid #ccc;border-radius: 4px;background-color: #f5f5f5;padding-top:5%;margin-top:10px;width:100%;height:61.7%;padding-left: 10%;">
      Something Cool :)
    </div>
  </div>
</div>
{% endblock %}
      </div>
    </div>
  </body>
<html>
