<html>  
  <head>    
    <title>MM kinetics</title>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Michaelis-Menten kinetics</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- include Bootstrap and site specific stylesheets -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mmk_styles.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- include Bokeh by CDN-->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    {{ bokeh_script | safe }}

  </head>
  <body>
    <div class="container">
    <div class="row" style="margin-top:5px">
        <div class="col-md-6" style="padding-top:10px">
          <img src="http://www.fc.ul.pt/sites/default/files/fcul/institucional/normas_graficas/Ciencias_UL_Azul_H.png" style="width:270px;height:70px;" alt="logo.png" />
        </div>
        <ul class="nav nav-tabs" style="padding-top:50px;margin-bottom:10px;font-size: 15px;">
          <li role="presentation" class="active"><a href="{{ url_for('front_page') }}">Home</a></li>
          <li role="presentation"><a href="{{ url_for('help') }}">Help</a></li>
          <li role="presentation"><a href="{{ url_for('contacts') }}">Contacts</a></li>
        </ul>
    </div>
{% block body %}{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

  </body>
</html>