<html>  
  <head>    
    <title>MM kinetics</title>    
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->    
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mmk_styles.css') }}" rel="stylesheet">
    <!-- Bokeh -->    
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    {{ bokeh_script | safe }}
  </head>
  <body>
    <div class="container">
    <div class="row" style="margin-top:5px">
        <div class="col-md-6" style="padding-top:10px">
          <img src="http://www.fc.ul.pt/sites/default/files/fcul/institucional/normas_graficas/Ciencias_UL_Azul_H.png" style="width:270px;height:70px;" alt="logo.png" />
        </div>
        <ul class="nav nav-tabs" style="padding-top:50px;margin-bottom:10px;font-size: 15px;">
          <li role="presentation" class="active"><a href="{{ url_for('front_page') }}">Home</a></li>
          <li role="presentation"><a href="{{ url_for('help') }}">Help</a></li>
          <li role="presentation"><a href="{{ url_for('contacts') }}">Contacts</a></li>
        </ul>
    </div>    
    
{% block body %}{% endblock %}
    </div>  
  </body>
</html>