{% extends "layout.html" %}

{% block body %}
<div class="row" style="margin-top:5px">
        <div class="col-md-6" style="padding-top:10px">
          <img src="{{ url_for('static', filename='fcul_logo.png') }}" style="width:270px;height:70px;" alt="logo.png" />
        </div>
        <ul class="nav nav-tabs" style="padding-top:50px;margin-bottom:10px;font-size: 15px;">
          <li role="presentation" class="active"><a href="{{ url_for('front_page') }}">Home</a></li>
          <li role="presentation"><a href="{{ url_for('help') }}">Help</a></li>
          <li role="presentation"><a href="{{ url_for('contacts') }}">Contacts</a></li>
        </ul>
</div>

{% if messages %}
<!-- Error messages -->
<p class="bg-danger" style="text-align:center">
  {% for message in messages %}
        {{ message }}
  {% endfor %}
</p>
{% endif %}


<div class="row">
    <div class="col-md-4">
      <form action="/front" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                Data
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="submit" id="input_compute" class="btn btn-primary btn-sm">
                            Compute
                        </button>
                        <button type="button" id="input_demo" class="btn btn-default btn-sm">
                            Demo data
                        </button>
                        <button type="button" id="input_clear" class="btn btn-danger btn-sm">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <textarea id="timevsconc" name="timevsconc" class="timevsconc">{% if data %}{{ data }}{% endif %}</textarea>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </form>
    </div>

    <!-- Results report -->
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Results
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm">
                            Download
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
               {% if results %}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><strong>Method</strong></th>
                                    <th><i>V</i></th>
                                    <th><i>K<sub>m</sub></i></th>
                                    <th>SE (<i>V</i>)</th>
                                    <th>SE (<i>K<sub>m</sub></i>)</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for result in results %}
                                <tr>
                                    <td>{{ result.name }}</td>
                                    <td>{{ result.V|round(4) }}</td>
                                    <td>{{ result.Km|round(4) }}</td>
                                    {% if result.SE_V %}
                                    <td>{{ result.SE_V|round(4) }}</td>
                                    <td>{{ result.SE_Km|round(4) }}</td>
                                    {% else %}
                                    <td></td>
                                    <td></td>
                                    {% endif %}
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
               
               {% endif %}
            
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>

</div>

<div class="row">

    <!-- Plot for all methods -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Plots
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
               
                <!-- Other plots -->
                <div class="row">
                    <div class="col-md-5">
                        {% if results %}
                        {{ bokeh_divs[0] |safe }}
                        {% endif %}
                        <form id="methodbuttons">
                        <div class="btn-group" id="methods_group" data-toggle="buttons">
                          <label class="btn btn-default active" data-wat="0">
                            <input type="checkbox" autocomplete="off" checked> Hyp
                          </label>
                          <label class="btn btn-default active" data-wat="1">
                            <input type="checkbox" autocomplete="off" checked> C.Bowden
                          </label>
                          <label class="btn btn-default active" data-wat="2">
                            <input type="checkbox" autocomplete="off" checked> Hanes
                          </label>
                          <label class="btn btn-default active" data-wat="3">
                            <input type="checkbox" autocomplete="off" checked> E.Hofstee
                          </label>
                          <label class="btn btn-default active" data-wat="4">
                            <input type="checkbox" autocomplete="off" checked> L.Burk
                          </label>
                        </div>
                        </form>
<div id='hierHier'>
    01234
</div>
                    </div>
                    <div class="col-md-7">
                        {% if results %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ bokeh_divs[1] |safe }}
                            </div>
                            <div class="col-md-6">
                                {{ bokeh_divs[2] |safe }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ bokeh_divs[3] |safe }}
                            </div>
                            <div class="col-md-6">
                                {{ bokeh_divs[4] |safe }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

{% endblock %}
