{% extends "layout.html" %}

{% block body %}
<div class="row" style="margin-top:5px">
        <div class="col-md-6" style="padding-top:10px">
          <img src="http://www.fc.ul.pt/sites/default/files/fcul/institucional/normas_graficas/Ciencias_UL_Azul_H.png" style="width:270px;height:70px;" alt="logo.png" />
        </div>
        <ul class="nav nav-tabs" style="padding-top:50px;margin-bottom:10px;font-size: 15px;">
          <li role="presentation" class="active"><a href="{{ url_for('front_page') }}">Home</a></li>
          <li role="presentation"><a href="{{ url_for('help') }}">Help</a></li>
          <li role="presentation"><a href="{{ url_for('contacts') }}">Contacts</a></li>
        </ul>
</div>
<div class="row">
    <div class="col-md-4">
      <h4>Input your data (<em><abbr title="Initial rate">v<sub>0</sub></abbr></em> vs <abbr title="Concentration">a</abbr>):</h4>

      {% if messages %}
        <!-- Error messages -->
        <p class="bg-danger" style="text-align:center">
          {% for message in messages %}
                {{ message }}
          {% endfor %}
        </p>
      {% endif %}

      <!-- Input box -->
      <form action="/front" method="post">
        <div class="btn-toolbar" role="toolbar" aria-label="Input toolbar">
            <div class="btn-group" role="group" aria-label="Compute button">
                <button type="submit" id="input_compute" class="btn btn-primary">Compute parameters</button>
            </div>
            <div class="btn-group" role="group" aria-label="Other buttons">
                <button type="button" id="input_demo" class="btn btn-default">Demo data</button>
                <button type="button" id="input_clear" class="btn btn-danger">Clear</button>        
            </div>
        </div>        
        <textarea id="timevsconc" name="timevsconc" class="timevsconc">{% if data %}{{ data }} {% endif %}</textarea>
      </form>
    </div>

    <!-- Results report -->
    <div class="col-md-4">
       {% if results %}
           <h4>Results:</h4>
           <div class="report_results">
           {% for result in results %}
              <p><strong>{{ result[0] }}</strong></p>

              {% if loop.index < 4 %}
              <table style="width:100%">
                <tr>
                    <td>V</td>
                    <td>{{ result[1] }}</td>
                </tr>
                <tr>
                    <td>K<sub>m</sub></td>
                    <td>{{ result[2] }}</td>
                </tr>
                <tr>
                    <td>StdError</td>
                    <td>{{ result[3] }}</td>
                </tr>
              </table>
              <br />
              {% elif loop.index < 5 %}
              <table style="width:100%">
                <tr>
                    <td>V</td>
                    <td>{{ result[1] }}</td>
                </tr>
                <tr>
                    <td>K<sub>m</sub></td>
                    <td>{{ result[2] }}</td>
                </tr>
                <tr>
                    <td>StdError V</td>
                    <td>{{ result[3][0] }}</td>
                </tr>
                <tr>
                    <td>StdError K<sub>m</sub></td>
                    <td>{{ result[3][1] }}</td>
              </table>
              <br />
              {% else %}
              <table style="width:100%">
                <tr>
                    <td>V</td>
                    <td>{{ result[1] }}</td>
                </tr>
                <tr>
                    <td>K<sub>m</sub></td>
                    <td>{{ result[2] }}</td>
                </tr>
                <tr>
                    <td>Error Interval V</td>
                    <td>[{{ result[3] }}]</td>
                </tr>
                <tr>
                    <td>Error Interval K<sub>m</sub></td>
                    <td>[{{ result[4] }}]</td>
                </tr>
              </table>
              <br />
              {% endif %}
           {% endfor %}</div>
       {% endif %}
    </div>

    <!-- Plot -->

    <div class="col-md-4">
      {% if results %}
         <h4>Plots:</h4>
         <div style="color: #333;border:1px solid #ccc;border-radius:4px;background-color:#f5f5f5;padding-top:5px;margin-top:10px;overflow:scroll;width:100%;height:66%;padding-left:10px;">
            {{ bokeh_div |safe }}
         </div>
      {% endif %}
    </div>

</div>
{% endblock %}
