{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-4">
      <h4>Input your data (velocity vs concentration):</h4>

      {% if messages %}
        <!-- Error messages -->
        <p class="bg-danger" style="text-align:center">
          {% for message in messages %}
                {{ message }}
          {% endfor %}
        </p>
      {% endif %}

      <!-- Input box -->
      <form action="/front" method="post">
        <textarea name="timevsconc" class="timevsconc">
              {% if data %}{{ data }} {% endif %}
        </textarea>
        <p><input type="submit" class="btn btn-primary" value="Compute" style="width:100%;height:5%;"/></p>
      </form>
    </div>

    <!-- Results report -->
    <div class="col-md-4">
       {% if results %}
           <h4>Results:</h4>
           <div class="report_results">
           {% for result in results %}
              <p><strong>{{ result[0] }}</strong></p>

              {% if loop.index < 4 %}
              <table style="width:100%">
                <tr>
                    <td>V<sub>max</sub></td>
                    <td>{{ result[1] }}</td>
                </tr>
                <tr>
                    <td>K<sub>m</sub></td>
                    <td>{{ result[2] }}</td>
                </tr>
                <tr>
                    <td>StdError</td>
                    <td>{{ result[3] }}</td>
                </tr>
              </table>
              <br />
              {% elif loop.index < 5 %}
              <table style="width:100%">
                <tr>
                    <td>V<sub>max</sub></td>
                    <td>{{ result[1] }}</td>
                </tr>
                <tr>
                    <td>K<sub>m</sub></td>
                    <td>{{ result[2] }}</td>
                </tr>
                <tr>
                    <td>StdError V<sub>max</sub></td>
                    <td>{{ result[3][0] }}</td>
                </tr>
                <tr>
                    <td>StdError K<sub>m</sub></td>
                    <td>{{ result[3][1] }}</td>
              </table>
              <br />
              {% else %}
              <table style="width:100%">
                <tr>
                    <td>V<sub>max</sub></td>
                    <td>{{ result[1] }}</td>
                </tr>
                <tr>
                    <td>K<sub>m</sub></td>
                    <td>{{ result[2] }}</td>
                </tr>
                <tr>
                    <td>Error Interval V<sub>max</sub></td>
                    <td>[{{ result[3] }}]</td>
                </tr>
                <tr>
                    <td>Error Interval K<sub>m</sub></td>
                    <td>[{{ result[4] }}]</td>
                </tr>
              </table>
              <br />
              {% endif %}
           {% endfor %}</div>
       {% endif %}
    </div>

    <!-- Plot -->

    <div class="col-md-4">
      {% if results %}
         <h4>Plots:</h4>
         <div style="color: #333;border:1px solid #ccc;border-radius: 4px;background-color: #f5f5f5;padding-top:5px;margin-top:10px;overflow: scroll;width:100%;height:66%;padding-left: 5%">
            {{ bokeh_div |safe }}
         </div>
      {% endif %}
    </div>

</div>
{% endblock %}